h1 {
    color: blue;
    font-size: 40px;
  }
  
  #myFirstCanvas {
    background-color: white;
    border-style: ridge;
    border-width: 10px;
  }
  .body_backgorund {
      background-image: url("");
      background-position: center;
      background-size: cover;
  }
  canvas{
    width:550px;
    height:450px;
    
  }